@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* ここから */
body {
    background-color: #FFEFD5;
    max-width: 100%;
    
}
body h1{
    white-space: nowrap;
}
header{
    background-color: lightgray;

}
.swiper-container{
    background-color: #FFEFD5;
}
.navbar{
    background-color: lightgray;
    height: 100%;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.navlist{
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end !important;
    background-color: lightgray;
    z-index: 2;
    margin:0;
    margin-left: auto;
}
.link{
    text-decoration: none;
    color:black;
}
.shop-name{
    font-size: 50px!important;
}
.menubtn{
    height:4.2rem;
    width:5.2rem;
    background-color: lightgray;
    border-radius: 5px;
    border-color: #b7b6b6;
    display: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 3em !important;
    height: 2.5em !important;
    vertical-align: ato !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.btn{
    background-color: #EFEFEF !important;
}
.form{  
    font-size: 1.7rem !important;
}
.btn1{
    font-size: 1.7rem !important;
    margin-right: 2rem;
}
.swiper-container,
.swiper-slide {
   height: 70vh;
   z-index: 1 !important;
   position: relative !important;
}
.swiper-slide > img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.swiper-pagination {
    position: relative !important;
    bottom:40px !important;
  }
.swiper-pagination-bullet{
    width:0.8rem !important;
    height: 0.8rem !important;
}  

.swiper-scrollbar{
    position: relative !important;
    bottom:40px !important; 
    height: 8px !important;
}
.swiper-button-prev,
.swiper-button-next{
    bottom:60px !important; 
    z-index: 1 !important;
}

.colona ul{
    font-size: 1.3rem;
    line-height: 3.5rem;
  }
.contents{
    background-color: #FFEFD5;
}
.colona h1{
    font-size: 3rem;
}
.colona h2{
    background-color: #FFC7AF;
    font-size:2.5rem;
    padding-top:0.5rem ;
    padding-bottom:0.5rem ;
    cursor: pointer;

}
.menuSub1{
    display: none;
}
.menuSub2{
    display: none;
}
.menuSub3{
    display: none;
}
.food-contents{
    margin-bottom: 5em !important ;
    overflow-wrap: break-word !important;
}
.food-contents h2{
    display: inline-block;
    margin-bottom:1em;
}
.food-contents2 h2{
    display: inline-block;
    margin-bottom:1em;
}
.Food{
    font-size: 1.5em;
}
.Address{
    background-color: black;
    color: white;
    line-height: 3rem;
}
.Address h2{
    padding-left: 2rem;
    font-size: 2.5rem;
}
.Address p{
    padding-left: 1rem;
    font-size: 1.3rem;
}
.shop-address{
    padding-bottom: 2rem;
}
.shop-address h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.shop-address p{
    text-align: center;
    font-size: 1.3rem;
}
.image3{
    margin:auto;
    height:15rem;
    width:15rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.dli-pin-fill {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 0.7em;
    height: 0.7em;
    background: currentColor;
    border: 0.1em solid currentColor;
    border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
    box-sizing: content-box;
    transform: rotate(45deg);
  }
.dli-pin-fill::before {
    content: '';
    position: absolute;
    top: 18%;
    left: 18%;
    width: 0.336em;
    height: 0.336em;
    background: #fff;
    border-radius: 50%;
    box-sizing: border-box;
  }
.block{
    opacity: 0; 
    transition: all 2s;
  }

.fadeIn {
    opacity: 1;
    animation:10s
}
footer{
    background-color: darkgray;
    text-align: center;
    height:10rem;
    display:flex;
    align-items: center;
    justify-content: center;

}
.footer-nav{  
    font-size: 1.3rem;
    margin: 1rem;
}
@media (max-width: 767px) {
body h1{
    white-space: wrap;
}
.shop-address{
    display: none !important;
}
.Address{
    margin-bottom: 2rem;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}
.top-image{
    width:90%;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    text-align: center;
}
.footer-nav{  
    font-size: 1rem;
    margin: 1rem;
}
.menubtn{
    height:4.2rem;
    width:5.2rem;
    background-color: lightgray;
    border-radius: 5px;
    border-color: #b7b6b6;
    display: inline-block;
}
.navlist{
    display: none ;
    width: 100% ;
}

.navlist1{
    display: inline-block !important;
    width: 100% ;
}

}



